.homepage{
     height: auto;
     width: 100vw;
}

.app_sidebar_list{
     display: grid;  
     grid-template-columns: 2fr 5fr; 
     grid-gap: 10px; 
     border: 1px snow ;
     max-width: 100%;      
     color: #000;

font-family: Roboto;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal
}

.app_sidebar-links{
     flex:1;
     display:flex;

}
