.notes-page-open-send-disabled,
.notes-page-open-send-disabled * {
  box-sizing: border-box;
}
.notes-page-open-send-disabled {
  background: #ffffff;
  width: 1512px;
  height: 982px;
  position: relative;
  overflow: hidden;
}
.rectangle-22 {
  background: #dae5f5;
  border-radius: 0px 0px 0px 15px;
  width: 1077px;
  height: 854px;
  position: absolute;
  left: 435px;
  top: 98px;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.rectangle-37 {
  background: #ffffff;
  border-radius: 5px;
  width: 997px;
  height: 210px;
  position: absolute;
  left: 477px;
  top: 582px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.another-productive-way-to-use-this-tool-to-begin-a-daily-writing-routine-one-way-is-to-generate-a-random-paragraph-with-the-intention-to-try-to-rewrite-it-while-still-keeping-the-original-meaning-the-purpose-here-is-to-just-get-the-writing-started-so-that-when-the-writer-goes-onto-their-day-s-writing-projects-words-are-already-flowing-from-their-fingers {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 160.19%;
  font-weight: 400;
  position: absolute;
  left: 501px;
  top: 610px;
  width: 954px;
  height: 130px;
}
.group-20 {
  width: 217px;
  height: 18px;
  position: static;
}
.group-9 {
  width: 96px;
  height: 18px;
  position: static;
}
._9-mar-2023 {
  color: #353535;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 1227px;
  top: 760px;
}
._10-10-am {
  color: #353535;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 1363px;
  top: 760px;
}
.ellipse-23 {
  background: #353535;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1339px;
  top: 765px;
}
.group-21 {
  position: absolute;
  inset: 0;
}
.rectangle-372 {
  background: #ffffff;
  border-radius: 5px;
  width: 997px;
  height: 210px;
  position: absolute;
  left: 475px;
  top: 122px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.another-productive-way-to-use-this-tool-to-begin-a-daily-writing-routine-one-way-is-to-generate-a-random-paragraph-with-the-intention-to-try-to-rewrite-it-while-still-keeping-the-original-meaning-the-purpose-here-is-to-just-get-the-writing-started-so-that-when-the-writer-goes-onto-their-day-s-writing-projects-words-are-already-flowing-from-their-fingers2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 160.19%;
  font-weight: 400;
  position: absolute;
  left: 499px;
  top: 150px;
  width: 954px;
  height: 130px;
}
._9-mar-20232 {
  color: #353535;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 1225px;
  top: 300px;
}
._10-10-am2 {
  color: #353535;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 1361px;
  top: 300px;
}
.ellipse-232 {
  background: #353535;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1337px;
  top: 305px;
}
.group-22 {
  position: absolute;
  inset: 0;
}
.rectangle-373 {
  background: #ffffff;
  border-radius: 5px;
  width: 997px;
  height: 210px;
  position: absolute;
  left: 477px;
  top: 352px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.another-productive-way-to-use-this-tool-to-begin-a-daily-writing-routine-one-way-is-to-generate-a-random-paragraph-with-the-intention-to-try-to-rewrite-it-while-still-keeping-the-original-meaning-the-purpose-here-is-to-just-get-the-writing-started-so-that-when-the-writer-goes-onto-their-day-s-writing-projects-words-are-already-flowing-from-their-fingers3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 160.19%;
  font-weight: 400;
  position: absolute;
  left: 501px;
  top: 380px;
  width: 954px;
  height: 130px;
}
._9-mar-20233 {
  color: #353535;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 1227px;
  top: 530px;
}
._10-10-am3 {
  color: #353535;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 1363px;
  top: 530px;
}
.ellipse-233 {
  background: #353535;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1339px;
  top: 535px;
}
.rectangle-38 {
  background: rgba(0, 0, 0, 0.63);
  border-radius: 5.5px;
  width: 10px;
  height: 599px;
  position: absolute;
  left: 1502px;
  top: 98px;
}
.rectangle-39 {
  background: #ffffff;
  border-radius: 4.5px;
  width: 8px;
  height: 55px;
  position: absolute;
  left: 1503px;
  top: 160px;
}
.group-27 {
  position: sticky;
  left: 435px;
  top: 728px;
}
.rectangle-23 {
  width: 1078px;
  height: 255px;
  position: absolute;
  left: 435px;
  top: 728px;
  overflow: visible;
}
.rectangle-27 {
  background: #ffffff;
  border-radius: 9px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  width: 1014px;
  height: 211px;
  position: absolute;
  left: 468px;
  top: 751px;
}
.enter-your-text-here {
  color: #9a9a9a;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 29.815750122070312px;
  font-weight: 400;
  position: absolute;
  left: 498px;
  top: 768px;
  width: 390.68px;
}
.vector {
  height: auto;
  position: absolute;
  right: 3.87%;
  left: 93.85%;
  width: 2.28%;
  bottom: 4.48%;
  top: 92.57%;
  height: 2.95%;
  overflow: visible;
}
.group-30 {
  position: sticky;
  left: 434px;
  top: 0px;
}
.rectangle-24 {
  background: #001f8b;
  width: 1078px;
  height: 98px;
  position: absolute;
  left: 434px;
  top: 0px;
}
.group-26 {
  width: 201px;
  height: 68.9px;
  position: static;
}
.my-notes {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 546px;
  top: 35px;
}
.ellipse-17 {
  width: 68.9px;
  height: 68.9px;
  position: absolute;
  left: 451px;
  top: 15px;
  overflow: visible;
}
.mn {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24.115184783935547px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 466px;
  top: 37px;
}
.group-25 {
  position: sticky;
  left: 1px;
  top: 154px;
}
.rectangle-33 {
  background: rgba(47, 47, 47, 0.17);
  border-radius: 16px;
  width: 434px;
  height: 98px;
  position: absolute;
  left: 1px;
  top: 154px;
}
.group-24 {
  width: 361px;
  height: 777px;
  position: static;
}
.group-17 {
  width: 279.86px;
  height: 657.9px;
  position: static;
}
.python-notes {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 136px;
  top: 778.96px;
}
.ellipse-15 {
  background: #ff66f0;
  border-radius: 50%;
  width: 68.9px;
  height: 68.9px;
  position: absolute;
  left: 38px;
  top: 758px;
}
.my-personal-grp {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 136.86px;
  top: 288.04px;
}
.ellipse-10 {
  background: #b38bfa;
  border-radius: 50%;
  width: 68.9px;
  height: 68.9px;
  position: absolute;
  left: 38px;
  top: 267px;
}
.mg {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 23.1200008392334px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 54px;
  top: 290px;
}
.my-notes2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 136.86px;
  top: 189px;
}
.ellipse-16 {
  background: #0047ff;
  border-radius: 50%;
  width: 68.9px;
  height: 68.9px;
  position: absolute;
  left: 38px;
  top: 169px;
}
.mn2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 55px;
  top: 192px;
}
.javascript-grp {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 136px;
  top: 386.23px;
}
.ellipse-11 {
  background: #ffc0c0;
  border-radius: 50%;
  width: 68.9px;
  height: 68.9px;
  position: absolute;
  left: 38px;
  top: 365px;
}
.jg {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24.115184783935547px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 57px;
  top: 388px;
}
.html-grp {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 136.86px;
  top: 484.41px;
}
.ellipse-12 {
  background: #43e6fc;
  border-radius: 50%;
  width: 68.9px;
  height: 68.9px;
  position: absolute;
  left: 38px;
  top: 464px;
}
.hg {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24.115184783935547px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 55px;
  top: 486px;
}
.css-notes {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 136.86px;
  top: 582.59px;
}
.ellipse-13 {
  background: #f19576;
  border-radius: 50%;
  width: 68.9px;
  height: 68.9px;
  position: absolute;
  left: 38px;
  top: 562px;
}
.cn {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24.115184783935547px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 55px;
  top: 584px;
}
.sql-notes {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 136.86px;
  top: 680.78px;
}
.ellipse-14 {
  background: #6691ff;
  border-radius: 50%;
  width: 68.9px;
  height: 68.9px;
  position: absolute;
  left: 38px;
  top: 660px;
}
.sn {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24.115184783935547px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 56px;
  top: 682px;
}
.pn {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24.115184783935547px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 55px;
  top: 781px;
}
.ellipse-24 {
  background: #16008b;
  border-radius: 50%;
  width: 93px;
  height: 93px;
  position: absolute;
  left: 306px;
  top: 853px;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 70px;
  line-height: 97.69%;
  font-weight: 500;
  position: absolute;
  left: 333px;
  top: 865px;
}
.pocket-notes {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 35px;
  font-weight: 500;
  position: sticky;
  left: 90px;
  top: 70px;
}
