.app_sidebar{
     width: 100%;     
     height: 100vh ;
     background-color: white;
     padding: 10%;
}

.app_sidebar_title{
font-size: 35px;
font-weight: 600;
text-align: center;
margin: 50px auto 50px;
}

.app_sidebar-links_container p{
     display: flex;
     padding: 1rem 1rem;
     flex-direction: column;     
     max-width: 100%;
     margin-top: 1px;     
     font-family: Roboto;
     font-size: 24px;
     font-weight: 500;
     letter-spacing: 0.02em;
     text-align: left;
     
     background-color: white;
     /* border-radius: 5px 15px 15px 5px; */
     text-align : center;
     cursor: pointer;
}

.app_sidebar-links_container-application_status{
     display: flex;
     padding: 1rem 1rem;
     flex-direction: column;     
     max-width: 100%;
     margin-top: 1px;
     color: rgb(0, 0, 0);
     font-family: var(--font-family);
     font-size: medium;
     font-weight: 400;
     background-color: #E3341C;
     border-radius: 5px 15px 15px 5px;
     text-align: center;
     transition: 0.3s ease-in-out;
     cursor: pointer;

}

.app_sidebar-links_container-application_status-links{
     display: flex;
     flex-direction: column;     
     max-width: 100%;
     margin-top: 1px;
     color: rgb(0, 0, 0);
     font-family: var(--font-family);
     font-size: medium;
     font-weight: 400;     
     background-color: #E3341C;
     text-align: center;
     cursor: pointer;

}

.app_sidebar-links_container-application_status-links p{
     display: flex;
     flex-direction: column;     
     max-width: 100%;
     margin-top: 1px;
     color: transperant;
     font-family: var(--font-family);
     font-size: medium;
     font-weight: 400;
     transition: width 0.3s ease-in-out;
     width: 100%;
     background-color: #52150d;
     text-align: center;
     cursor: pointer;

}

.dialog {
     max-width: 20rem;
     padding: 2rem;
     border: 0;
     border-radius: 0.5rem;
     box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
     position: relative;
   }
   
.dialog::backdrop {
     background: hsl(0 0% 0% / 50%);
   }
   
   .addcircle{
     height: 70px;
  width: 70px;
  background-color: #16008B;
  color: aliceblue;
  font-weight: 600;
  font-size: larger;
  margin: 9px auto 0px;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: 15vw;
  margin-bottom: 25px;
  border: transparent;
   }

   .createbutton{
     width: 154px;
     background-color: #001F8B;
     border-radius:12px ;
     border-color: transparent;
     height: 38px;
     color: #FFF;
     font-family: Roboto;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
   }
   
.dialog-close-btn {
     font-size: .75em;
     position: absolute;
     top: .25em;
     right: .25em;
   }
   